body {
    background-image: url("images/adele-payman-2oYMwuFgnTg-unsplash.jpg") ;
    background-repeat: repeat-y;
    background-size: 3000px 1000px;
    background-color: #cccccc ;
    background-size: cover;
    background-attachment: scroll;
    scroll-behavior: smooth;
}

.verticalhorizontal2 {
    vertical-align: bottom;
    position:fixed;bottom:0px;  left:925px;  height:400px; border:none;
}
.verticalhorizontal {
      vertical-align: bottom;
      position:fixed;bottom:0px;left:0px;  height:400px; border:none;
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 100;
    font-size: x-large;
}

.navbar-brand {
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
}

.glyphicon-star {
    color: #813c3c;
    font-size: 100px;
}

.glyphicon-star.active {
    color: #ffffff;
}
.heading1 {
    text-align: center;
    font-size: xx-large;
    
  }
  